// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #FF4858;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$grey: #cccccc;

$bg_black: #0F0F13;
$bg_dark: #222429;
$bg_light: #27272B;
$bg_medium: #3E3E3E;
$sent: #58585B;
$received: #0F0F13;
$color: #FFFFFF;
$sub_heading: #AAAAAA;
$border: #707070;
$sub_title:#848484;
$online: #258C60;
$online2: #35cb87;


$light_blue: #4690a7;
$hover_blue: #1b5c73;
$white_blue:#EAF3F8;
$dark_blue:#74A0AD;
$white:#FFFFFF;
$user-name: #FFFFFF;
