// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.chat-window{
    @import 'variables';
    max-height: 100vh;
    width: 100%;
}
