// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



.chat-window{
    @import 'variables';
    max-height: 100vh;
    width: 100%;
}
.register,
.login{
    background: url("public/images/AuthPages/login_background.png") no-repeat center;
    background-size: 100% 100%; /* Resize the background image to cover the entire container */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    .back_cover{
        width: 90%;
        margin-top: auto;
        margin-bottom: auto;
        height: 80%;
        background: white;
        display: flex;
        justify-content: center;
        align-content: center;
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.34);
        .right_banner{
            width: 50%;
            background: url("public/images/AuthPages/city_image.png") no-repeat center;
            background-size: 100% 100%;
            color: white;
            display: flex;
            justify-content: start;
            padding: 10px;
            height: 100%;
            overflow: hidden;
            .welcome_description{
                width: 70%;
                margin-top: auto;
                margin-bottom: auto;
                margin-left: 20px;
            }
        }
        .left_banner{
            width: 50%;
            height: 100%;
            overflow: hidden;
            padding: 50px;
            .auth_card{
                box-shadow: 0 8px 6px rgba(0, 0, 0, 0.3);
                padding: 20px 60px;
                border-radius: 5px;
                margin: auto;
                .btn, btn-primary{
                    background: $red;
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }
}

.profile_finish{
    background: $bg_light;
    min-height: 100vh;
    color: $color;
    overflow: hidden;
}
.prof{
    border-radius: 100%;
}
.status,
.countries,
.bio{
    background: $bg_medium;
    color: $color;
    border: none;
    &:focus{
        background: $bg_medium;
        outline: $border;
        color: $color;
    }
}
.datepicker{
    background: $bg_medium;
    color: $color;
    border: none;
    &:focus{
        background: $bg_medium;
        outline: $border;
        color: $color;
    }
}
.button{
    background: $online;
    color: $color;
    border: none;
    &:focus{
        background: $bg_medium;
        outline: $border;
        color: $color;
    }
    &:hover{
        background: $online2;
        outline: $border;
        color: $color;
    }
}

.file{
    display: none;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .button{
        font-size: 10px;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}

